<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Restaurante_X.Properties.Settings.RestaurantXConnectionString" connectionString="Data Source=DESKTOP-MLNSSRR;Initial Catalog=RestaurantX;Persist Security Info=True;User ID=8BITCENTER-PC02;Password=lol1234" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
